
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;}
    article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

    body {
        line-height: 1;
    }
    
    ol, ul {
        list-style: none;
    }
    
    blockquote, q {
        quotes: none;
    }
    
        blockquote:before, blockquote:after, q:before, q:after {
            content: '';
            content: none;
        }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    body {
        -webkit-text-size-adjust: none;
    }  
    mark {
        background-color: transparent;
        color: inherit;
    }
    
    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 62.5%;
    width: 100%;  
}
body {
    background-image: url("../image/bg7.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
   background-position: center;
  }

h1, h2, h3, h4, h5 {
    font-family: 'inherit';
    letter-spacing: 100%;
    margin-bottom: 2%;
    font-weight: 600px;
}

.container {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
header {
        justify-content: center;
    }
    header h1{
    font-size: 2.75rem;
    padding-top: 100px;
    text-transform: uppercase;
    line-height: 5.75rem;
    display: flex;
    flex-wrap: flex;
    justify-content: center;
    text-align: center;
    width: 87%;
    color : white;
    margin: 0 10%;
 
    }
    header p{
    width :97%;
    font-size: 15px;
    margin: 5%;
    color: rgb(223, 226, 213);
}
    header nav {
        width: 100%;
        flex-direction: column;
        margin: 0;
        padding: 0;

    }
    header nav a {
        width: 33%;
        display: flex;
        flex-wrap: flex;
        justify-content:center;
        margin: 0 33%;
        padding: 20px 0;
        font-size: 1.8rem;
        border: 1px solid gray;
        text-decoration: none;
        color: #b0b0b0;
        
    }

   
    header nav a:hover {
        background: gray;
    }
/* Header Styles for dekstop */
@media (min-width: 700px) {
        header {
            width: 100%;
        }
        header p{
            width :80%;
            font-size: 20px;
            margin: 0 10%;
        }
        header h1{
            margin-top: 200px;
            font-size: 3.5rem;
            padding-top: 10px;
            padding-bottom: 0;
            text-transform: uppercase;
            line-height: 10.75rem;
            display: flex;
            flex-wrap: flex;
            justify-content: center;
            width: 100%;
            color: rgb(237, 252, 214);
            margin: 0 10%;
        }
    header nav {
        width: 90%;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        margin: 0% 10%;
        padding: 10% 0;
    }
    header nav a {
        width: 22%;
        margin: 0%;
        padding: 2%;
        font-size: 1.8rem;
        border: 1px solid gray;
        text-decoration: none;
        color: #b0b0b0;
        text-transform: uppercase; 
    }

        header nav a:hover {
            text-decoration: underline;
            color: black;
        }
}
.bg_image{
  background-image: url(../img/bg6.jpg);
   background-size: cover;
   background-position: center;
   height: 100%;
   width: 100%;
}


    
