header {
    justify-content: center; 
    @media (min-width: 1000px) {
       width: 100%;
       margin: auto; 
    }

    .inner{
    width: 90%;
    max-height: 50rem;
    padding: 3rem 2rem;
    overflow: hidden;
    margin: 20% auto 5% auto; 
    border-top-color: initial;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    @media(min-width: 1000px){
        width: 70%;
        max-height: 50rem;
        padding: 1rem 0rem; 
        overflow: hidden;
        margin-top: 10%;
         }
    } 
    h1{
      width: 70%;
      margin: 0 10%;
     .h;
     @media(min-width: 1000px){
         padding-top: 5%;
         margin: 0% 0 3% 0;
         line-height: 3.75rem;
         font-size: 2.5rem;
         width: 100%;
     }
    }
    p{
        width :100%;
        margin: 5% 0%; 
        .p;
        @media(min-width:1000px){
            width:60%;
            margin: 0 auto;
            letter-spacing: .2rem;
            line-height: 2rem;
            padding-top: 2%;
            font-size: 1.3rem;
        }
    }
}
.btn button {
    .button;
    margin-top: 1%;
    margin-bottom: 5%;
}
@media(min-width:1000px){
    header .topics {
        width: 30%;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        padding: 2% 0 0 0;
        color: white;
    }
}
header .tabs {
    width: 100%;
    flex-direction: column;
    margin: auto;
    padding: 0;
    color: white;
    .tab{
    margin: 0 33%;
    width: 33%;
    padding: 0 1.25rem 0 1.45rem;
    .tabstyle;
    @media(min-width:1000px){
        width: 25%;
        margin: 0%;
        font-size: 1.2rem;
        letter-spacing: .1rem;
        text-decoration: none; 
        line-height: 3.9rem;  
    }
    }
    .tab:hover {
        background: rgb(34, 29, 29); 
    }
}
.cards-container{
    width : 100%;
    margin : 5% auto 0 auto;
    align-content: center;
    @media(min-width:1000px){
        width : 100%;
        margin : auto;
    }
    .card{
    border-bottom: 1px solid white;
    width: 80%;
    min-height: 400px;
    height: auto;
    margin: 0 auto;
    border-bottom: 3px solid pink;
    .cardstyle;
    @media(min-width:1000px){
        width: 50%;
    }
    display: none;
    }
    .headline {
        text-transform: uppercase;
        margin: 4% auto;
        font-size: 2.25rem;
        font-family: 'inherit';
        letter-spacing: .5rem;
        text-transform: uppercase;
        line-height: 2.8rem;
        text-align: center;
      }
      p{
        width: 100%;
        font-size: 1rem;
        text-transform: uppercase;
        line-height: 2rem;
        text-align: center;
        margin: 0 auto;
        text-align: center; 
        @media(min-width: 1000px)  {
            
        }  
      }
}
.cards-container .tabs-item-selected{
    display: block;
}
.cards-container .contact{
    font-size: 25px;
}